
.nav-link{
    color: rebeccapurple;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: bold;
}

.nav-link:hover{
    color: black;
    background-color: rgb(218, 167, 207);
}