<ul class="nav nav-tabs">
    <li class="nav-item">
        <a routerLink="/home" class="nav-link">Home</a>
    </li>
    <li class="nav-item">
        <a routerLink="/about" class="nav-link">About</a>
    </li>
    <li class="nav-item">
        <a routerLink="/contact" class="nav-link">Contact Us</a>
    </li>
    <li class="nav-item">
        <a routerLink="/posts" class="nav-link">Posts</a>
    </li>
    <li class="nav-item">
        <a routerLink="/comments" class="nav-link">Comments</a>
    </li>
</ul>